.content {
  height: 100%;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-menu {
  padding: 5%;
}

.request-form {
  margin: 0% 5% 0%;
  padding: 3%;
  width: inherit;
  height: inherit;
}
