.content {
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-menu {
  padding: 5%;
}

.request-form {
  margin: 0% 5% 0%;
  padding: 3%;
  width: inherit;
  height: 91.25%;
}

.opchief-home {
  margin: 0% 5% 0%;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.requests {
  margin: 2%;
  padding: 2%;
  width: 50%;
  max-height: inherit;
}

.mission {
  margin: 2%;
  padding: 3%;
  width: 50%;
  height: inherit;
}
