<div class="login">
  <ul class="nav nav-tabs bg-dark">
    <li class="nav-item">
      <div class="btn-group">
        <button class="btn dropdown-toggle text-white" type="button" id="buttonMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </button>
        <div class="dropdown-menu" aria-labelledby="buttonMenu1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </li>
  </ul>
</div>
